<!DOCTYPE html>
<html lang="en">
<head>
<title>Resume maker</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bform{
  padding: 20px 10px;
}
.header {
  overflow: hidden;
  background-color:#564da0;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color:lightblue;
  color: black;
}

.header a.active {  
  color: white;
}
.header-left{
  float:left;
}

.header-right {
  float: right;
}

.headding{

  text-align: center;
  border: 2px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;    
  }
  
  .header-right {
    float: none;
  }
}  
footer {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #564da0;
}
.required:after {
    content:" *";
    color: red;
  }
</style>
</head>

</body>

<div class="header">  
  <div class = "header-left">
    <img src="Screenshot from 2020-02-05 15-23-54.png" alt="logo"><a href="/" class="logo"></a></img>  
   </div>
  <div>
    <h4 class="headding" > Resume Generator</h4>
  </div>  
  <div class="header-right">    
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>
<h3 style="text-align: center;" class="display-5"> Fill The Following Details</h3>


<section class = "bform">  
<form action="/upload" method="POST" id="nameform" enctype="multipart/form-data">
<div class="row">
  <div class="col">
  <label class="required" for="formGroupExampleInput"><b>First Name</b></label>
  <input type="text" name="firstname" class="form-control" placeholder="Ex:michael"   id="formGroupExampleInput1" required>
</div>
<div class="col">
  <label class="required" for="formGroupExampleInput"><b>Last Name</b></label>
  <input type="text" name="lastname" class="form-control" placeholder="Ex:jackson" id="formGroupExampleInput2" required>
</div>
<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>Current position</b></label>
  <input type="text"  name="currentpostion"          class="form-control" id="formGroupExampleInput4" required>
</div>
</div>
<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>Profile</b></label>
    <textarea class="form-control" name="Profile" id="exampleFormControlTextarea2" rows="1"required></textarea>
</div>
<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>toolbox</b></label>
  <textarea class="form-control" name="toolbox" id="exampleFormControlTextarea1" rows="2"required></textarea>
</div>
<div>
<div class="row" >
  <div class="col">
    <label class="required" for="formGroupExampleInput"><b>Workexperience</b></label>
    <input type="text"  name="Workexperience"          class="form-control" id="formGroupExampleInput6" required>
  </div>
  <div class="col">
  <label class="required" for="formGroupExampleInput"><b>From date</b></label>
  <input type="text"  name="fromdate"  id="picker" class="form-control" required>        
</div> 
<div class="col">
  <label class="required" for="formGroupExampleInput"><b>To date</b></label>
 <input type="text"  name="todate" id="picker2" class="form-control"required>
</div>   
</div>
<div class="row" >
  <div class="col">
  <label class="required" for="formGroupExampleInput"><b>Designation Name</b></label>
  <input type="text"  name="designation"  class="form-control" required>        
</div> 
<div class="col">
  <label class="required" for="formGroupExampleInput"><b>City</b></label>
 <input type="text"  name="city"  class="form-control">
</div> 
<div class="col">
  <label class="required" for="formGroupExampleInput"><b>country/state</b></label>
 <input type="text"  name="country" class="form-control">
</div>  
</div>
<div class="col align-self-end" style="text-align: end;">
  <button type="button"  class="btn btn-link" style="color: #554ca0;">Add Workexperience</button> 
</div> 
</div>
<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>Projectname</b></label>
  <input type="text"  name="Projectname"           class="form-control"  required>
</div>
<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>discription</b></label>
    <textarea class="form-control" name="discription" id="exampleFormControlTextarea2" rows="2"required></textarea>
</div>
<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>responsibilities</b></label>
  <input type="text"   name="responcibilities"           class="form-control"  required>
</div>
<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>technologies</b></label>
  <input type="text"   name="technologies"           class="form-control"  required>
</div>

  <div class="form-group">     
    <div class="col align-self-end" style="text-align: end;">
      <button type="button" id="buttonproject" class="btn btn-link" style="color: #554ca0;">Add Project</button> 
    </div> 
    <div class ="project" id = "project"> 
        <div class="form-group">
          <label class="required" for="formGroupExampleInput"><b>Projectname</b></label>
          <input type="text"  name="Projectname1"           class="form-control">
        </div>
        <div class="form-group">
          <label class="required" for="formGroupExampleInput"><b>discription</b></label>
            <textarea class="form-control" name="discription1" id="exampleFormControlTextarea3" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label class="required" for="formGroupExampleInput"><b>responsibilities</b></label>
          <input type="text"   name="responcibilities1"           class="form-control"  >
        </div>
        <div class="form-group">
          <label class="required" for="formGroupExampleInput"><b>technologies</b></label>
          <input type="text"   name="technologies1"           class="form-control" >
        </div> 
        <div class="col align-self-end" style="text-align: end;">          
            <button type="button" id="closebutton" class="btn btn-danger">Close</button> 
        </div>
    </div>            
  </div>     
    <script>
      const addproject = document.getElementById("project")
      const button = document.getElementById("buttonproject")
      const closebutton = document.getElementById("closebutton")

      
       //console.log(button);        
       
       window.onload = function() {                  
       popupui()    
  
      }
      function popupui(){       
        
        document.getElementById("project").style.display="none";
      }

      function showpopupui(){
        document.getElementById("project").style.display="block";;
        
      }

      button.addEventListener("click",showpopupui)
      closebutton.addEventListener("click",popupui)
    </script>    
  </div>  

<div class="form-group">
  <label class="required" for="formGroupExampleInput"><b>Education</b></label>
  <input type="text"   name="Education"           class="form-control"  required>
</div>

<div class="form-group">
  <label for="formGroupExampleInput"><b>Certifications</b></label>
  <input type="text"   name="certifications"           class="form-control"  >
</div>
<div class="form-group">
  <label for="formGroupExampleInput"><b>Others</b></label>
  <input type="text"   name="others"           class="form-control" >
</div>

<div class="form-group">
  <label class="required" for="exampleFormControlFile1">upload Photo</label>
  <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
</div>
</form>
<button type="submit" form="nameform" value="Submit" class="btn btn-primary">submit</button>
</section>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> ArdorLabs</a>
    </div>
    <!-- Copyright -->
  
  </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href='bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' rel='stylesheet' type=text/html>
<script src='bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' type='text/html'></script>
<!-- Script -->
<script type="text/javascript">
  $(document).ready(function(){
   
    $('#picker').datepicker({
     format: "yy-mm-dd",
     startDate: '-1y -1m',
     endDate: '+2m +10d'
    });
  
    $('#picker2').datepicker({
     format: "yy-mm-dd",
     startDate: '-1m',
     endDate: '+10d'
    }); 
  });
  </script>
</body>
</html>
