<!DOCTYPE html>
<html lang="en">
<head>
<title>Resume maker</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bform{
  padding: 20px 10px;
}
.header {
  overflow: hidden;
  background-color:#564da0;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color:lightblue;
  color: black;
}

.header a.active {
  background-color: blue;
  color: white;
}
.header-left{
  float:left;
}

.header-right {
  float: right;
}

.headding{
  text-align: center;
  border: 2px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;    
  }
  
  .header-right {
    float: none;
  }
}
.project {
position: fixed;
top: 50%;
left:50% ;
transform:translate(-50%,-50%);
border:1px solid blueviolet;
background-color: seashell;
border-radius:10px;
width:60%;
max-width:85%;
} 
.education{
  position: fixed;
top: 50%;
left:50% ;
transform:translate(-50%,-50%);
border:1px solid blueviolet;
background-color: seashell;
border-radius:10px;
width:60%;
max-width:85%;
} 

footer {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #564da0;
}
</style>
</head>

</body>
<div class="header">  
  <div class = "header-left">
    <img src="Screenshot from 2020-02-05 15-23-54.png" alt="logo"><a href="/" class="logo"></a></img>  
   </div>
  <div>
    <h4 class="headding" > Resume Generator</h4>
  </div>  
  <div class="header-right">    
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>

<h5> Personal details</h5>
<form class="needs-validation" action="/upload" method="POST" id="nameform" enctype="multipart/form-data">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">First name</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="First name"  required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">middle name</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="middle name"  required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom03">Last name</label>
        <input type="text" class="form-control" id="validationCustom03" placeholder="Last name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-group" >
        <h5> Professional details</h5> 
      </div>
       <div class="col-md-4 mb-3">
        <label for="validationCustom04">current position</label>
        <input type="text" class="form-control" id="validationCustom04" placeholder="current position" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-group">
        <label for="validationCustom05">Headline</label>
        <input type="text" class="form-control" id="validationCustom05" placeholder="Headline" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom06">Work experience</label>
        <input type="text" class="form-control" id="validationCustom06" placeholder="work experience" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>  
         <div class="col-md-3 mb-3" >
          <h6>from date</h6>
          <input type="text" id="picker" class="form-control">          
         </div> 

         <div class="col-md-3 mb-3">
          <h6>to date</h6>
          <input type="text" id="picker2" class="form-control">
         </div>   
        </div>
   
      <div class="col-md-3 mb-3">
        <label for="validationCustom0">designation name</label>
        <input type="text" class="form-control" id="validationCustom22" placeholder="designation name" required>
        <div class="invalid-feedback">
          fill designation
        </div>
      </div>    

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom0">City</label>
        <input type="text" class="form-control" id="validationCustom07" placeholder="City" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom0">
        </div>
      </div> 
      <h5> Project  details</h5> 
     
      <div class="col-md-3 mb-3">
        <label for="validationCustom0">project name</label>
        <input type="text" class="form-control" id="validationCustom08" placeholder="project name" required>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div> 
      <div class="form-group">
        <label for="exampleFormControlTextarea1">project Discription</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom0">responsibilities</label>
        <input type="text" class="form-control" id="validationCustom09" placeholder="responsibilities" required>
        <div class="invalid-feedback">
          Please provide a valid responsibilities.
        </div>
      </div> 
      <div class="col-md-3 mb-3">
        <label for="validationCustom0">technologies</label>
        <input type="text" class="form-control" id="validationCustom10" placeholder="technologies" required>
        <div class="invalid-feedback">
          Please provide a valid technologies.
        </div>
      </div> 
      <div class="col-md-3 mb-3">
        <button id="buttonproject" type="button"> add new project</button>
      </div>         
      <div class ="project" id = "project">
        <div class="col-md-3 mb-3">
          <button id="closebutton" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <label for="validationCustom0">project name</label>
          <input type="text" class="form-control" id="validationCustom11" placeholder="project name" required>
          <div class="invalid-feedback">
            Please provide a valid name.
          </div>
        </div> 
        <div class="form-group">
          <label for="exampleFormControlTextarea2">project Discription</label>
          <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationCustom0">responsibilities</label>
          <input type="text" class="form-control" id="validationCustom12" placeholder="responsibilities" required>
          <div class="invalid-feedback">
            Please provide a valid responsibilities.
          </div>
        </div> 
        <div class="col-md-3 mb-3">
          <label for="validationCustom0">technologies</label>
          <input type="text" class="form-control" id="validationCustom13" placeholder="technologies" required>
          <div class="invalid-feedback">
            Please provide a valid technologies.
          </div>
        </div>
        <button   class="btn btn-primary">Submit</button> 
      </div> 
      
      <script>
        const addproject = document.getElementById("project")
        const button = document.getElementById("buttonproject")
        const closebutton = document.getElementById("closebutton")

        
         //console.log(button);        
         
         window.onload = function() {                  
         popupui() 
         edupopupui()      
    
        }
        function popupui(){       
          
          document.getElementById("project").style.display="none";
        }

        function showpopupui(){
          document.getElementById("project").style.display="block";;
          
        }

        button.addEventListener("click",showpopupui)
        closebutton.addEventListener("click",popupui)
      </script>        
      <h5> education details</h5> 
     
      <div class="col-md-3 mb-3">
        <label for="validationCustom0">Degree</label>
        <input type="text" class="form-control" id="validationCustom14" placeholder="Ex:university" required>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div> 
      <div class="col-md-3 mb-3">
        <button id="edubutton" type="button"> add Education details</button>
      </div>  
      <div>      
        <div class ="education" id = "education">
          <div class="col-md-3 mb-3">
            <button id="eclosebutton" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <label for="validationCustom0">school</label>
            <input type="text" class="form-control" id="validationCustom15" placeholder="Ex:boston university" required>
            <div class="invalid-feedback">
              Please provide a valid school name.
            </div>
          </div> 
          <div class="col-md-3 mb-3">
            <label for="validationCustom0">Inter/diploma</label>
            <input type="text" class="form-control" id="validationCustom16" placeholder="Ex:vishnu tech university" required>
            <div class="invalid-feedback">
              Please provide a valid inter/diploma.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom0">Field of study</label>
            <input type="text" class="form-control" id="validationCustom17" placeholder="Ex:business" required>
            <div class="invalid-feedback">
              Please provide a valid Field of study.
            </div>
          </div> 
          <div class="col-md-3 mb-3">
            <label for="validationCustom0">Activities and societies</label>
            <input type="text" class="form-control" id="validationCustom18" placeholder="Ex:matchingband,volleyball" required>
            <div class="invalid-feedback">
              Please provide a valid Activities.
            </div>
          </div>
          <button class="btn btn-primary">Submit</button> 
        </div> 
      </div>
      <script>          
        const addEducation = document.getElementById("education")
        const edubutton = document.getElementById("edubutton")
        const eclosebutton = document.getElementById("eclosebutton")

        
         //console.log(button);   
         
         
        function edupopupui(){       
          
          document.getElementById("education").style.display="none";
        }

        function showedupopupui(){
          document.getElementById("education").style.display="block";;
          
        }

        edubutton.addEventListener("click",showedupopupui)
        eclosebutton.addEventListener("click",edupopupui)       
      </script>
        <div class="col-md-3 mb-3">
          <label for="validationCustom0">certifications</label>
          <input type="text" class="form-control" id="validationCustom19" placeholder="certifications" required>
          <div class="invalid-feedback">
            Please provide a valid certifications.
          </div>
        </div> 
        <div class="col-md-3 mb-3">
          <label for="validationCustom0">others</label>
          <input type="text" class="form-control" id="validationCustom20" placeholder="others" required>
          <div class="invalid-feedback">
            Please provide a valid others.
          </div>
        </div> 
        <div class="col-md-3 mb-3">
          <label for="validationCustom0">Upload photo</label>
          <input type="file" class="form-control" id="validationCustom21"  required>
          <div class="invalid-feedback">
            Please provide a photo.
          </div>
        </div>    
  </form>
  <button type="submit" form="nameform" value="Submit" class="btn btn-primary" type="submit">Submit</button> 
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>   
  <!-- Footer -->
   <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> ArdorLabs</a>
    </div>
    <!-- Copyright -->
  
  </footer>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href='bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' rel='stylesheet' type=text/html>
<script src='bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' type='text/html'></script>
<!-- Script -->
<script type="text/javascript">
  $(document).ready(function(){
   
    $('#picker').datepicker({
     format: "yy-mm-dd",
     startDate: '-1y -1m',
     endDate: '+2m +10d'
    });
  
    $('#picker2').datepicker({
     format: "yy-mm-dd",
     startDate: '-1m',
     endDate: '+10d'
    }); 
  });
  </script>

</body>
</html>
